.about-container {
  height: 100vh;
  padding: 100px 150px;
}

.header-container {
  background-color: white;
  max-width: 100%;
}

.contact-container {
  height: 100vh;
  padding: 100px 150px;
}

.loading-container {
  background-color: darkgreen;
  height: 100vh;
}

.navlinks-container {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.navlinks-container div {
  padding: 20px;
}

.projects-container {
  height: 100vh;
  padding: 100px 150px;
}

.landing-container {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.layout-container {
  width: 100%;
}
