@import './_variables.scss';

.about-container {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
     background-color: $base-color;
     width: 100%;

     @media (max-width: $breakpoint-mobile) {
        -webkit-clip-path: none ;
    clip-path: none;
    }
}


.about-section {
    padding-top:100px;
    padding-bottom: 300px;
    width:70%;
    margin:auto;

    @media (max-width: $breakpoint-mobile) {
        padding-bottom: 100px;
    }

    

    h1 {
        color:$text-color;
        padding:10px;
        font-family: $montserrat;
        letter-spacing: 3px;
        font-family: sans-serif;
        width: 100%;
        overflow: hidden;
        font-size: 40px;
        position:relative;
    }

    @media (max-width: $breakpoint-desktop) {
        h1 {
            font-size: 30px;
        }
    }

    h1:after {
        content: "";
        margin-left: 10px;
        width: 100%;
        height:1px;
        background:$text-color;
        position: absolute;
        right: 10;
        top: 50%;


    }

    .about-description {
        display:flex;
        justify-content: center;
        width:100%;
        padding:5%;
        line-height: 1.6;
        margin-bottom:10%;
    }

    .left-container {
        width: 100%;
        margin-bottom: 40px;
        line-height: 1.9;
        margin: auto;

        p{
            color:$text-color;
            font-size: large;

            @media (max-width: $breakpoint-mobile) {
                    font-size: 15px;
        }
        }
    }

    .right-container {
        width:100%;
        margin-top: 20px;
}

   .right-container img {
        width:90%;
        margin-left: 10%;
        // transition: all 1s ease-in-out;
        // opacity: 0.1;
        object-fit: fill;
    }

    @media (max-width: $breakpoint-desktop) {
        .right-container img {
            margin-left: 0%;
            width: 60%;
        }

        @media (max-width: $breakpoint-mobile) {
            .right-container img {
                margin-left: 0%;
                width: 100%;
            }
        }
}
@media (max-width: $breakpoint-desktop) {
    .right-container {
        display:flex;
        justify-content: center;
        margin-top: 70px;
    }
}
@media (max-width: $breakpoint-desktop) {
    .about-section {
        width:80%;
    }
}

@media (max-width: $breakpoint-desktop) {
    .about-description {
        display: block;
        padding:2px;
        margin-top: 30px;
    }
}
}

