.contact-container {
    padding: 150px 50px;
    text-align: center;
    background-color: $base-color;
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-desktop) {
        clip-path: none;
    }

    div {
        width: 50%;

        @media (max-width: $breakpoint-desktop) {
            width: 70%;
        }
    }


    h1 {
        padding-top: 150px;
        font-size: 50px;

        @media (max-width: $breakpoint-desktop) {
            font-size: 40px;
        }
    }

    p {
        margin-top: 50px;
        line-height: 1.6;
        color: $text-color;
        font-size: 18px
    }

    button {
        margin-top: 50px;
        padding:15px;
        border-radius: 5px;
        background-color: $base-color;
        color:$accent-color;
        border-color:$accent-color;
        border-style: solid;
        border-width: 1px;
        font-size: 20px;
    }

    .signature {
        font-size: 15px;
    }
}

