.container {
    height:100vh;
    background-color: $base-color;
}

.social-icon {
    :hover {
        fill: $header-color;
        cursor: pointer;
    }
}

.rb-description {
    text-align:center;
    margin-top: 9%;

   

    span {
        color: $accent-color;  
        font-family: $graf;
        font-size: 90px;
        font-weight: 400;
    }

    h1 {
        line-height: 1.2;
        font-weight: 200;
        font-size: 30px;
    }
    p {
       
        color:$text-color;
        line-height: 1.6;
        width:30%;
    }
}

@media (min-width: $breakpoint-desktop) {
    span {
        color:red;
    }
    }

.fixed-left {
  position: fixed;
  bottom: 0px;
  left: 50px;
  display:block;
}

// .fixed-right {
//       position: fixed;
//       bottom: 0px;
//       right: 90px;
//       text-align:center;
//       margin:auto;
//       z-index: 1;

//       div {
//           margin-top:20px;
//           display:block;
          
//       }
//     }

    .arrow-container {
        display:flex;
        justify-content:center;
    }

    .arrow {
        margin-top: 60px;

        :hover {
        fill: $header-color;
        }
    }