
.landing-container {
    height:100vh;
    background-color:$base-color;
    
    
}

.social-icon {
    :hover {
        fill: $header-color;
        transition-property: top; 
             top: -8px;
             cursor: pointer;
             transition-duration: 2000;
             
             
    }
}

.rb-description {
    padding:150px 200px;
    text-align:center;
    
   

    span {
        color: $header-color;  
        font-size: 80px;
    }

    h1 {
        line-height: 1.2;
        font-weight: 400;

    }
    p {
       
        color:$text-color;
        line-height: 1.6;
    }
}

.fixed-left {
  position: fixed;
  bottom: 0px;
  left: 50px;
  display:block;
}

.fixed-right {
      position: fixed;
      bottom: 0px;
      right: 90px;
      text-align:center;
      margin:auto;

      div {
          margin-top:20px;
          display:block;
          
      }
    }

    .arrow-container {
        display:flex;
        justify-content:center;
    }

    .arrow {

        :hover {
        fill: $header-color;
        }
    }