* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
 
    
}



.layout-container {
    max-width: 100%;
}

h1 {
    font-family: $montserrat;
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    color: #faf5ff;
}

h2 {
    font-family: $montserrat;

}

p {
    font-family: $montserrat;
    font-weight: 300;
    font-size:20px;
    margin-top:20px;
}