.navlinks-container {
    padding:30px;
    display: flex;
    justify-content: flex-end;
    background-color:$base-color;

    div {
        font-family: $montserrat;
        padding:30px;
    }

    a {
        text-decoration: none;
        padding:20px;
        color:$text-color;
        font-size:16px;
    }

    button {
        padding:0px;
        width:100px;
        margin:20px;
        color:$text-color;
        background-color: $base-color;
        border-color:$accent-color;
        border-width: 1px;
        border-radius:10px;
        border-style: solid;
        font-size:15px;
        cursor: pointer;
        margin-right: 60px;
    }

    button:hover {
        background-color: $accent-color;
        color:$base-color;
    }
}

span {
    color:$accent-color;
}
