@import './_variables.scss';

.projects-section {
    background-color: #fff;
    
    h1 {
        letter-spacing: 3px;
        color:$base-color;
        font-weight: 500;
        font-size: 30px;
    }

    p {
        font-size: large;
    }
}

.projects-container {
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
    padding:100px;
    border-radius: 10px;
    margin-top: 100px;
}
    

.transform {
    width:600px;
}

@media (max-width: 1400px) {
    .transform {
        width:500px;
    }

    @media (max-width: 1098px) {
        .transform {
            width:400px;
        }
    }

    .projects-container {
        padding:40px;

    }
    }

    @media (max-width: $breakpoint-tablet) {
        .transform {
            width:100%;
        }
    
        .projects-container {
            padding:10px;
        }
        }

.project-div {
        height:350px;
        background-color: #F8F8F8;
        margin:9px;
        display:block;
        color:$base-color;
        border-top: 6px solid $base-color;
        padding:10px 20px;
        position:relative;

        .githubicon {
            display:flex;
            width: 100%;
            
            div {
                margin-left: auto;
            }
        }

   p {
            font-size: 16px;
        }

        .technology-icons{
            margin-top:20px;
            padding: 0px;
            position: absolute;
        bottom: 10px;

        img {
            margin-right:10px;
           
  
        }
        }

        &:hover {
            transform: translate(-4px,-4px);
            cursor: pointer;
            transition: 0.3s;
            -webkit-box-shadow: 3px 2px 21px 0px rgba(44, 50, 50, 0.54);
-moz-box-shadow:    3px 2px 21px 0px rgba(44, 50, 50, 0.54);
box-shadow:         3px 2px 21px 0px rgba(44, 50, 50, 0.54);
    border-top: 6px solid $accent-color;
        
        }
}

.title {
    color:$base-color;
    font-family: $graf;
    text-align: center;
    font-size: 90px;

    @media (max-width: $breakpoint-tablet) {
        font-size: 60px;
}

@media (max-width: $breakpoint-mobile) {
    font-size: 40px;
    margin-top: 70px;
}
}

.project-profile {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding:20px;

    @media (max-width: 1117px) {
        display: block;
        margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    }

    @media (max-width: $breakpoint-mobile) {
        padding:0px;
    }
   
    

.project-image    {

    img {
        height: 600px;

        @media (max-width: 1700px) {
            height:500px;
        }

        @media (max-width: 1117px) {
            height: 420px;
            margin-right: auto;
            margin-left: auto;
        }

        @media (max-width: 680px) {
            height:300px;
        }

        @media (max-width: 540px) {
            height:230px;
        }

        @media (max-width: $breakpoint-mobile) {
            height:200px;
        }
    }
}

    .project-description-right {
        padding: 100px 0;
        position: absolute;
        right: 300px;
        width:500px;

        @media (max-width: 1700px) {
            position: static ;
        }
        @media (max-width: 1117px) {
            margin-right: auto;
            margin-left: auto;
            padding: 20px 0;
        }

        @media (max-width: 590px) {
            width: 80%;
        }

        .project-description-feature {
            @media (max-width: 1117px) {
             
            }

        }

    h1 {
        height: 50px;
        text-align: right;
        color: $base-color;
        padding: 10px;

        @media (max-width: 1117px) {
            padding:0px;
            font-size: 40px;
            text-align: left;
        }

        @media (max-width: $breakpoint-mobile) {
            font-size: 30px
        }
    }

    h2 {
        color: $accent-color;
        text-align: right;
        font-size: 20px;

        @media (max-width: 1117px) {
            font-size: 20px;
            margin-top:auto;
            text-align: left;
        }

        @media (max-width: $breakpoint-mobile) {
            font-size: 15px
        }
    }

        p {
            background-color: rgb(26, 32, 44);
            color: $text-color;
            padding: 20px;
            border-radius: 10px;
            text-align: right;
            margin-top:50px;
            font-size: large;
            line-height: 1.6;

            @media (max-width: 1700px) {
                font-size: medium;
            }
            @media (max-width: 1117px) {
                margin-top:10px;
                text-align: left;
            }

            @media (max-width: $breakpoint-mobile) {
                font-size: smaller;
                padding: 10px;

            }
        }
    }

    .project-description-left {
        padding: 100px 0;
        width:500px;
        position: absolute;
        left:400px;

        @media (max-width: 1700px) {
            position: static ;
        }

    h1 {
        height: 50px;
        text-align: left;
        color: $base-color;
        padding: 10px;
    }
    h2 {
        color: $accent-color;
        text-align: left;
        font-size: 20px;
    }
        p {
            background-color: rgb(26, 32, 44);
            color: $text-color;
            padding: 20px;
            border-radius: 10px;
            text-align: left;
            margin-top:50px;
            font-size: large;
            line-height: 1.6;

            @media (max-width: 1700px) {
                font-size: medium;
            }
            
        }
    }
}
          
