@import './_variables.scss';

.projects-section {
    background-color: #fff;

    
    h1 {
        letter-spacing: 3px;
        color:$base-color;
        font-weight: 700;
        font-size: 30px;
    }

    p {
        font-size: large;
    }
}

.projects-container {
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
    padding:100px;
    border-radius: 10px;
    
}

.transform {
    width:600px;
    }

.project-div {
        height:350px;
        background-color: #F8F8F8;
        margin:9px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display:block;
        color:$base-color;
        border-top: 2px solid $base-color;
        padding:20px;
        position:relative;

        .technology-icons{
            margin-top:20px;
            padding: 0px;
            position: absolute;
        bottom: 10px;

        img {
            margin:1px;
        }
        }

        &:hover {
            transform: translate(-4px,-4px);
            cursor: pointer;
            transition: 0.3s;
            -webkit-box-shadow: 3px 2px 21px 0px rgba(44, 50, 50, 0.54);
-moz-box-shadow:    3px 2px 21px 0px rgba(44, 50, 50, 0.54);
box-shadow:         3px 2px 21px 0px rgba(44, 50, 50, 0.54);
    border-top: 2px solid $accent-color;
        
        }
}
          
