@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,700;0,800;0,900;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$base-color: #1A202C;
$header-color: #d6bcfa;
$text-color:#faf5ff;
$accent-color:  #78FDAB;
$montserrat: 'Montserrat', sans-serif;
$graf: 'Permanent Marker', cursive;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
$breakpoint-desktop: 1400px;

